<div class="col-6">
<h2><%= @classroom.subject_name %> Students</h2>
<br>
<%= form_with model: [ @classroom, @classroom.students.build ] do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name,  class: "form-control", placeholder: "Add Student" %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
<br>
  <table class="table table-hover">
    <tr>  
      <th>Name</th>
      <th>Actions</th>
    </tr>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= link_to "Edit Student Name", "/classrooms/#{@classroom.id}/students/#{student.id}/edit" %></td>
      </tr>
    <% end %>
  </table>
</div>