<%= form_with model: [@classroom, @student] do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name,  class: "form-control", placeholder: "Change Student Name" %>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %>

<%= form_with model: @classroom do |form| %> 
  <%= form.collection_check_boxes(:student_ids, @classroom.students, :id, :name) do |builder| %>
    <% unless builder.text == @student.name %>
      <%= builder.label(class: "check_box") { builder.check_box +  builder.text } %>
      <br>
    <% end %>
  <% end %>
   <%= form.submit %>
<% end %>
<br>